<div class="panel-footer border-top bg-primary">
    <div class="row">
        <div class="col-sm-6 text-center border-right">
            <br>
            <h3 class="text-light">Contact Us</h3>
            <div class="text-center text-light" style="padding: 0 20% 0 20%;">
                <p>tel: 0164 684 7957</p>
                <p><i>Email: xuannam2512@gmail.com</i></p>
                <p><i>Địa chỉ: Bình Lợi, Bình Thạnh, TP HCM</i></p>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <br>
            <h3 class="text-light">About Us</h3>
            <div class="text-center text-light" style="padding: 0 20% 0 20%;">
                <p><i>Le Xuan Nam - 1512335</i></p>
                <p><i>Software Engineering</i></p>
                <p><i>University Of Science</i></p>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-light">
        <div class="ml-sm-4">
            <i>create by: Le Xuan Nam</i>
        </div>
    </div>
</div>