<nav class="sidebar navbar-default" role="navigation">
    <div class="sidebar-nav nav flex-column nav-pills">
        <ul class="nav flex-column in">
            <li class="nav-item">
                <a class="border-bottom nav-link {{#if dashboardActive}}table-active{{/if}}" href="/admin">
                    <div class="row" style="padding: 5px;">
                        <div style="width: 20px; padding-left: 10px;">
                            <i class="fas fa-home"></i>
                        </div>
                        <strong style="padding-left: 20px;">Trang chủ</strong>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="border-bottom nav-link {{#if userActive}}table-active{{/if}}" href="/admin/user">
                    <div class="row" style="padding: 5px;">
                        <div style="width: 20px; padding-left: 14px;">
                            <i class="fas fa-info"></i>
                        </div>
                        <strong style="padding-left: 20px;">QL Thông tin</strong>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="border-bottom nav-link {{#if accountActive}}table-active{{/if}}" href="/admin/account">
                    <div class="row" style="padding: 5px;">
                        <div style="width: 20px; padding-left: 10px;">
                            <i class="fas fa-user"></i>
                        </div>
                        <strong style="padding-left: 20px;">QL Tài khoảng</strong>
                    </div>
                </a>
            </li>
            <li class="nav-item {{#if providerActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="/admin/provider">
                    <div class="row" style="padding: 5px;">
                        <div style="width: 20px; padding-left: 10px;">
                            <i class="fas fa-parachute-box"></i>
                        </div>
                        <strong style="padding-left: 20px;">QL Nhà cung cấp</strong>
                    </div>
                </a>
            </li>
            <li class="nav-item {{#if mobileActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="/admin/mobile">
                     <div class="row" style="padding: 5px;">
                        <div style="width: 20px; padding-left: 10px;">
                            <i class="fas fa-mobile"></i>
                        </div>
                        <strong style="padding-left: 20px;">QL sản phẩm</strong>
                    </div>
                </a>
            </li>
            <li class="nav-item {{#if importActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="/admin/importMobile">
                    <div class="row" style="padding: 5px;">
                        <div style="width: 20px; padding-left: 10px;">
                            <i class="fas fa-keyboard"></i>
                        </div>
                        <strong style="padding-left: 20px;">QL Nhập</strong>
                    </div>
                </a>
            </li>
            <li class="nav-item {{#if saleActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="/admin/sale">
                    <div class="row" style="padding: 5px;">
                        <div style="width: 20px; padding-left: 10px;">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <strong style="padding-left: 20px;">QL Bán</strong>
                    </div>
                </a>
            </li>
            <li class="nav-item {{#if chartActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="#">
                    <div class="row" style="padding: 5px;">
                        <div style="width: 20px; padding-left: 10px;">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <strong style="padding-left: 20px;">Thống kê</strong>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>