<nav class="sidebar navbar-default" role="navigation">
    <div class="sidebar-nav nav flex-column nav-pills">
        <ul class="nav flex-column in">
            <li class="nav-item">
                <a class="border-bottom nav-link {{#if dashboardActive}}table-active{{/if}}" href="/admin">
                    <i class="fas fa-user"></i>
                    <strong style="padding-left: 20px;">Trang chủ</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="border-bottom nav-link {{#if userActive}}table-active{{/if}}" href="/admin/user">
                    <i class="fas fa-user"></i>
                    <strong style="padding-left: 20px;">QL Thông tin</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="border-bottom nav-link {{#if accountActive}}table-active{{/if}}" href="/admin/account">
                    <i class="fas fa-user"></i>
                    <strong style="padding-left: 20px;">QL Tài khoảng</strong>
                </a>
            </li>
            <li class="nav-item {{#if providerActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="/admin/provider">
                    <i class="fas fa-user"></i>
                    <strong style="padding-left: 20px;">QL Nhà cung cấp</strong>
                </a>
            </li>
            <li class="nav-item {{#if mobileActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="/admin/mobile">
                    <i class="fas fa-user"></i>
                    <strong style="padding-left: 20px;">QL sản phẩm</strong>
                </a>
            </li>
            <li class="nav-item {{#if importActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="/admin/importMobile">
                    <i class="fas fa-user"></i>
                    <strong style="padding-left: 20px;">QL Nhập</strong>
                </a>
            </li>
            <li class="nav-item {{#if saleActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="#">
                    <i class="fas fa-user"></i>
                    <strong style="padding-left: 20px;">QL Bán</strong>
                </a>
            </li>
            <li class="nav-item {{#if chartActive}}table-active{{/if}}">
                <a class="border-bottom nav-link" href="#">
                    <i class="fas fa-user"></i>
                    <strong style="padding-left: 20px;">Thống kê</strong>
                </a>
            </li>
        </ul>
    </div>
</nav>