<div class="container">
    <form id="contact" action="" method="POST">
        <h3 style="text-align: center; font-weight: bold;">Thêm Thông Tin Người Dùng Mới</h3>
        <br><br>
        <fieldset>
            <input placeholder="Nhập họ tên" type="text" tabindex="1" name="nameTxt" required autofocus>
        </fieldset>
        <br><br>
        <fieldset>
            <input placeholder="Nhập địa chỉ email" type="email" tabindex="2" name="emailTxt" required>
        </fieldset>
        <br><br>
        <fieldset>
            <input placeholder="Nhập số điện thoại" type="tel" tabindex="3" name="telTxt" required>
        </fieldset>
        <br><br>
        <fieldset>
            <input placeholder="Nhập địa chỉ" type="text" tabindex="4" name="addressTxt" required>
        </fieldset>
        <br><br>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Hoàn Tất</button>
        </fieldset>
    </form>
</div>