{{#if errors}} 
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}} 
{{/if}}
{{#if showError}}
    {{#each error}}
        <div class="alert alert-danger">{{this}}</div>
    {{/each}}
{{/if}}
<form class="modal-content" action="" method="POST">
    <div class="container">
        <h1>Thêm Mới Thông Tin Khách Hàng</h1>
        <p>Làm ơn điền đầy đủ thông tin vào mẫu.</p>
        <hr>
        <label for="imgUser">
            <b>Chọn ảnh đại diện</b>
        </label>
        <div class="input-group input-group-sm mb-3">
            <input name="imgUser" type="file" class="form-control" onchange="readURL(this);">
        </div>
        <img id="imgUser" alt="User Image" height="200" width="200">
        <br>

        <label for="fullname">
            <b>Họ và tên</b>
        </label>
        <input type="text" placeholder="Nhập họ và tên" name="fullname">

        <label for="email">
            <b>Email</b>
        </label>
        <input type="text" placeholder="Nhập địa chỉ Email" name="email">

        <label for="tel">
            <b>Số điện thoại</b>
        </label>
        <input type="text" placeholder="Nhập số điện thoại" name="tel">

        <label for="address">
            <b>Địa chỉ</b>
        </label>
        <input type="text" placeholder="Nhập địa chỉ" name="address">

        <div class="clearfix">
            <button type="submit" class="signupbtn btn-lg btn-block">Đăng ký</button>
        </div>
    </div>
</form>